*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  line-height: 1.8em;
  letter-spacing: -0.014em;
  font-feature-settings: "ss03", "zero", "cv08", "cv11" 1;
  background: #f8f9fa;
  text-transform: none;
}

.contaner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 50em;
  margin: 6em auto 6em;
}

.gaugeComp {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gauge {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.range {
  width: 10em;
}

h6 {
  font-size: .9em;
  line-height: 1.1em;
  margin: 2em 0 .6em;
  text-transform: uppercase;
  font-weight: 400;
  color: #bdbdcf;
}
